
.questionInfo {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: #3a3a4a; /* Slightly lighter background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem; /* Slightly smaller font size */
    display: grid;
    grid-template-columns: 1fr; /* Single column grid */
    gap: 10px; /* Space between the grid items */
    align-items: center;
    min-height: auto; /* Remove fixed height */
}

.infoItem {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #3a3a4a; /* Dark background to match the theme */
    border-radius: 5px;
    width: 100%; /* Make each info item as wide as its container */
    padding-bottom: 10px;
    gap: 20px; /* Space between the strong and span elements */
}

.infoItem strong {
    min-width: 65px; /* Set a fixed minimum width to align all strong elements */
    text-align: left; /* Align the text within the strong element to the right */
}

.infoItem span {
    flex: 1; /* Allow the span to take up the remaining space */
    text-align: left; /* Align the following text to the left */
}

.infoItem svg {
    margin-right: 8px;
    fill: #ffd700; /* Gold color for icons */
}

.questionText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e2e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.questionNumber {
    top: 300px;
    right: -30px;
    padding: 8px 15px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
}

.questionText {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the strong elements horizontally */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e2e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.questionItem {
    width: 100%; /* Ensures that each item takes full width */
    text-align: center; /* Centers the strong element horizontally */
    margin-bottom: 15px;
}

.questionItem strong {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Adds some space between the strong element and its content */
    color: #ffd700; /* Gold color to make the labels stand out */
    font-size: 1.3rem;
}

.questionContent {
    text-align: left; /* Aligns the content to the left */
    margin-left: 20px; /* Adds a bit of left padding for better readability */
    display: block;
    color: #b0c4de; /* Light steel blue for readability */
    font-size: 1rem;
}

.questionContent ul {
    list-style-type: none;
    padding-left: 0px; /* Indents the list for better readability */
}

.questionContent li {
    margin-bottom: 8px; /* Adds some space between list items */
}

.navigationButtons, .actionButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; /* Space the buttons out evenly */
}

.navigationButtons {
    padding: 12px 20px;
    margin: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #282c34;
    justify-content: space-between;
}

.moveButton {
    background-color: #282c34;
    color: white;
    border: none;
}

.approveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.approveButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
}

.deleteButton:hover {
    background-color: #e53935;
}

.approvedCheckmark {
    color: #ffd700; /* Gold color for the checkmark */
    font-size: 1.8rem;
    margin-left: 10px;
    vertical-align: middle;
    animation: bounce 1s ease normal;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.submissionResult {
    font-size: 2rem; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Add some margin at the top */
}

.submissionResult.correct {
    color: #4CAF50; /* Green color for correct answers */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow for better visibility */
    animation: popIn 0.3s ease-out; /* Add a small pop-in animation */
}

.submissionResult.wrong {
    color: #f44336; /* Red color for wrong answers */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow for better visibility */
    animation: shake 0.3s ease-out; /* Add a small shake animation */
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}

.optionOrderNumber {
    margin-left: 10px;
    font-weight: bold;
    color: #ff9800; /* Orange color to make it stand out */
    font-size: 1.5rem; /* Increase the font size */
    vertical-align: middle; /* Aligns the number vertically with the option text */
}
