body {
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.selectCertificationContainer {
    width: 100%;
    margin-bottom: 20px;
}


h1, h2, h3 {
    color: #ffd700; /* Gold color for headings */
    text-align: center;
}

.certificationCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1e1e2e;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 50px 100px;
    
}

.certificationCard:hover {
    transform: scale(1.02);
}

.certificationCard.selected {
    transform: scale(0.3);
    border: 2px solid #4CAF50;
    background-color: #00796b;
    margin-top: -150px;
    margin-bottom: -150px;
}

.certificationBadge {
    width: 150px;
    height: auto;
}

.certificationTitle {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

.filterButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filterButtons .selectAllButton {
    flex: 1;
    padding: 14px 22px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #4CAF50; /* Green for select all */
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
}

.filterButtons .selectAllButton.selected::after {
    content: '✔';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ffd700; /* Gold checkmark */
}

.filterButtons .unselectAllButton {
    flex: 1;
    padding: 14px 22px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f44336; /* Red for unselect all */
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
}

.filterButtons .unselectAllButton.selected::after {
    content: '✔';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ffd700; /* Gold checkmark */
}

.filterOptionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.filterOption, .questionCountOption {
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #2e2e3e; /* Dark background for options */
    color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    text-align: center;
}

.filterOption.selected, .questionCountOption.selected {
    border: 2px solid #4CAF50;
    background-color: #00796b;
    color: #ffffff;
}

.filterOption:hover, .questionCountOption:hover {
    transform: scale(1.05);
    /* background-color: #3a3a4a; */
}

button {
    padding: 12px 20px;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #4CAF50; /* Ensure green background for all buttons */
    color: white;
    border: none;
}



button:disabled {
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
}
button:disabled:hover {
    box-shadow: none;
}
button:hover {
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.errorMessage {
    color: #f44336;
    margin: 10px 0;
    text-align: center;
}

.loadingMessage {
    color: #ffd700;
    margin: 10px 0;
    text-align: center;
}

button.generateQuestionsButton {
    display: block;
    width: 100%;
    padding: 20px 12px;
    margin: 30px 0; /* Space between buttons */
    background-color: #ffd700; /* Gold/yellow background on hover */
    color: #000; /* Black text on hover */
    border: 1px solid transparent; /* Maintain button shape */
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

button.generateQuestionsButton:hover {
    background-color: #ffe760; /* Gold/yellow background on hover */
    color: #333; /* Black text on hover */
}

button.generateQuestionsButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #3a3a4a;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.accordionArrow {
    color: #ffd700; /* Gold color */
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.filterSection {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.5s ease;
}

.filterSection.open {
    max-height: 1000px; /* A large enough value to accommodate the content */
    opacity: 1;
}

.filtterAccordion {
    background-color: #3a3a4a; /* Slightly lighter background */
    padding: 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: padding 0.3s ease; /* Optional: Adjust padding during open/close */
}
