body {
    font-family: 'Poppins', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.selectCertificationContainer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
@media (max-width: 1000px) {
    .selectCertificationContainer  {
      max-width: calc(((100vw) / 1));
    }
  }

.certificationSelection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}


.certificationCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1e1e2e;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
    color: #ffffff; /* Default text color */
    position: relative; /* Default position relative to its container */
    z-index: 1; /* Ensure it stays above other elements */
}
    

.certificationCard:hover {
    transform: scale(1.02);
}

.certificationCard.selected {
    transform: scale(0.4);
    position: absolute;
    top: -230px;
    left: -410px;
    z-index: 10;
}
@media (max-width: 1000px) {
    .certificationCard.selected  {
      /* Adjust the left value more gradually by dividing the adjustment */
      left: calc(-530px + ((1250px - 100vw) / 2)); /* Adjust left with a slower rate */
      transition: left 0.3s ease-in-out; /* Smooth transition for left property */
    }
  }
.certificationCard.selected:hover {
    transform: scale(0.45);
}

.certificationCard.hide {
    display: none;
}

.certificationBadge {
    width: 100px;
    height: auto;
}

.certificationTitle {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.filterButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filterButtons .selectAllButton {
   background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    padding-right: 40px;
    width: 200px;
}

.filterButtons .selectAllButton.selected::after {
    content: '✔';
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ffd700; /* Gold checkmark */
}

.filterButtons .unselectAllButton {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    padding-right: 40px;
    width: 200px;
}

.filterButtons .unselectAllButton.selected::after {
    content: '✔';
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ffd700; /* Gold checkmark */
}

.filterOptionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    display: flex;
}
@media (max-width: 1000px) {
    .filterOptionsContainer {
      flex-direction: column;
    }
  }

.filterOption, .questionCountOption {
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #2e2e3e; /* Dark background for options */
    color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    text-align: center;
}

.filterOption.selected, .questionCountOption.selected {
    border: 2px solid #4CAF50;
    background-color: #00796b;
    color: #ffffff;
}

.filterOption:hover, .questionCountOption:hover {
    transform: scale(1.05);
    /* background-color: #3a3a4a; */
}

button {
    padding: 12px 20px;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #4CAF50; /* Ensure green background for all buttons */
    color: white;
    border: none;
}



button:disabled {
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
}
button:disabled:hover {
    box-shadow: none;
}
button:hover {
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.errorMessage {
    color: #f44336;
    margin: 10px 0;
    text-align: center;
}

.loadingMessage {
    color: #ffd700;
    margin: 10px 0;
    text-align: center;
}

button.generateQuestionsButton {
    display: block;
    width: 100%;
    padding: 20px 12px;
    margin: 30px 0; /* Space between buttons */
    background-color: transparent; /* Gold/yellow background on hover */
    color: #ffffff; /* Black text on hover */
    border: 1px solid #ffffff; /* Maintain button shape */
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

button.generateQuestionsButton:hover {
    background-color: #ffe760; /* Gold/yellow background on hover */
    color: #333; /* Black text on hover */
}

button.generateQuestionsButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
}

.accordionContainer {
    display: flex;
    flex-direction: column;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #1e1e2e;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.accordionArrow {
    color: #ffd700; /* Gold color */
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.filterSection {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.5s ease;
}

.filterSection.open {
    max-height: 2000px;
    opacity: 1;
    padding: 10px;
}

.filtterAccordion {
    background-color: #1e1e2e;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
    .filtterAccordion{
      min-width: calc((80vw) / 1);
    }
  }


.sectionHeader {
    position: relative;
    width: 100%;
}

.sectionHeader.questions {
    top: 40px;
    max-width: 900px;
    margin-left: -20px;
}
@media (max-width: 1000px) {
    .sectionHeader.questions{
      right: 10px;
    }
  }

.sectionHeader.hide {
    display: none;
}

.certificationCard.locked {
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.certificationCard.locked::before {
    content: "LOCKED 🔒 SUBSCRIBE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: rgba(246, 251, 85, 0.85);
    color: #ffffff;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 150%;
    z-index: 2;
    text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.certificationCard.locked::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.certificationCard.locked:hover {
    transform: none;
    cursor: not-allowed;
}
